
<h1>Job Show For Admin</h1>

<ul>
    <li><%=@job.title%></li>
    <li><%=@job.job_description%></li>
    <li><%=@job.job_location%></li>
    <li><%=@job.keyskills%></li>
    <li><%=@job.sector.name%></li>
    <li><%=@job.type.name%></li>
    <li><%=@job.user.username%></li>
</ul>

    <span><%= button_to "Accept", admin_job_approve_path, class: "btn btn-success"%></span><br>
    <span><%= button_to "Reject", admin_job_reject_path, class:"btn btn-danger" %></span>
    