<div class="container job-container">
  <% @jobs.each do |job| %>
    <%if job.approved_by != 0%>
      <div class="row justify-content-md-center">
          <div class="col-6 mt-6">
            <div class="card shadow mb-5 bg-white rounded job-card">
              <div class="card-header text-center font-weight-bold " id = "job-head">    
                  By <%= job.organisation_name%>
              </div>
              <div class="card-body jobs-body">
                <h5 class="card-title text-success text-left text-decoration-none"><%= link_to job.title, job_path(job)%></h5>
                <p class="card-text"><%= truncate(job.job_description, length: 100) %></p>
                <p ><span>Location:</span> <%= job.job_location%></p>
                <p><span> Skills Required:</span> <%=job.keyskills%></p>
                <div class="text-center">
                  <%= link_to "View", job_path(job), class: "btn btn-outline-primary mx-1"%> 
                  <% if logged_in? && job.user == current_user%>
                    <%= link_to "Edit", edit_job_path(job), class: "btn btn-outline-success mx-1" %>
                    <%= link_to "Delete", job_path(job), data: {
                      turbo_method: :delete,
                      turbo_confirm: "Are you sure?"
                    }, class: "btn btn-outline-danger mx-1"%>
                  <%end%>
                </div>
              </div>
              <div class="card-footer text-muted">
                <small> Created <%= time_ago_in_words(job.created_at)%> ago, Edited <%= time_ago_in_words(job.updated_at)%> ago</small>
              </div>
            </div>
          </div>
      </div>
    <%end%>
  <%end%>
</div>