<div class="container job-container">
    <%if @job.approved_by != 0%>
      <div class="row justify-content-md-center">
          <div class="col-8 mt-6">
            <div class="card shadow mb-5 text-center bg-white rounded job-card">
              <div class="card-header text-center font-weight-bold " id = "job-head">    
                  By <%= @job.organisation_name%>
              </div>
              <div class="card-body">
                <h5 class="card-title text-success text-left text-decoration-none"><%=@job.title%></h5>
                <p class="card-text"><%= simple_format(@job.job_description) %></p>
                <p > <span> <strong> Location:</strong></span> <%= @job.job_location%></p>
                <p> <span> <strong> Skills Required:</strong></span> <%=@job.keyskills%></p>
                <p> <span> <strong> Sector:</strong></span> <%=@job.sector.name%></p>
                <p> <span> <strong> Type:</strong></span> <%=@job.type.name%></p>
                <% if @job.user == current_user%>
                  <%=link_to "Post Requests", job_posts_path(@job), class: "btn btn-outline-primary"%>
                  <%= link_to "Edit", edit_job_path(@job), class: "btn btn-outline-success"%>
                  <%= link_to "Delete", job_path(@job), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure you want to delete this job?"
                  }, class: "btn btn-outline-danger"%>
                <%end%>
              </div>
              <div class="card-footer text-muted">
                <small> Created <%= time_ago_in_words(@job.created_at)%> ago, Edited <%= time_ago_in_words(@job.updated_at)%> ago</small>
              </div>
            </div>
          </div>
      </div>
  <%end%>
</div>