<div class="container mb-4">
    <h1 class = "text-center"> <i class="fa fa-users"></i>
       <p> ChatBox </p>
    </h1> 
    <div class="row">
        <div class="card col-8 chatbox">
            <div class ="content" id="messages">
                <div class="container mt-4" id = "message-container">  
                    <%= render @messages%>
                </div>
            </div>    
            <div class="container" id = "message-submit">  
                <%= form_for(@message, html: {class: "input-group mb-3"}, url: message_path, method: :post, local: true, data: {turbo_frame: "messages"}) do |f|%>
                        <%= f.text_field :body, placeholder: "Write a message",id: "m-body", class: "form-control"%>
                        <div class="input-group-append">
                            <%= f.button "Send", class: "btn btn-outline-secondary", id: "demo"%>
                        </div>
                <%end%>
            </div>   
        </div>
        <div class="col-4 ">
            <div class="card chatbox">
                <ul class="list-group bg-dark"> 
                    <li class = "list-group-item d-flex justify-content-between align-items-center ">
                        <%= link_to "Home", root_path%>
                        <span class="badge bg-primary rounded-pill">H</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <span>Total No. of Candidates </span>
                        <span class="badge bg-primary rounded-pill"><%= User.all.where(role: 'candidate').count%></span>
                    </li>
                </ul>
            </div>
        </div>
  </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
elem = document.getElementById('m-body')
var objDiv = document.getElementById("message-container");
$(document).ready(function(){
    $("#demo").click(function(){
        setTimeout(() => {elem.value = ''}, 100);
        setTimeout(() => {objDiv.scrollTop = objDiv.scrollHeight}, 500);
        
    });
});
</script>
