<div class="container">
    <h1>Create a new Type</h1>
    <%= render 'shared/errors', obj: @type %>
    <%= form_with(model: @type, url: types_path) do |f|%>
        <div class="form-group row mb-4">
            <%= f.label :name, class: " col-form-label" %>
            <div class="col-sm-4">
                <%= f.text_field :name, class: "form-control" %> 
            </div>
        </div>
        <%=f.submit "Submit", class: "btn btn-primary"%>
    <%end%>
</div>