<h1 class = "text-center">See your Job Posts</h1>
<% @my_posts.each do |post|%>
    <div class="container  post-container mt-4">
        <div class="row justify-content-md-center">
            <div class="col-6 mt-6">
                <div class="card border-secondary shadow mb-5 bg-white roundedpost-card">
                <div class="card-header border-secondary text-center font-weight-bold " id = "post-head">    
                    Posted By <%= link_to post.user.username, user_path(post.user)%>
                </div>
                <div class="card-body">
                    <h5 class="card-title text-success text-left text-decoration-none"> <%= post.name%></h5>
                    <p class="card-text"><%= post.post_description %></p>
                    <p> <strong> Phone Number:</strong> <%= post.phone_number%></p>
                    <p> <strong> City:</strong> <%=post.city%></p>
                    <p> <strong> Username:</strong> <%=post.username%></p>
                    <%if post.is_approved?%>
                        <p><strong>Job Status:</strong> Approved</p>
                    <%else%>
                        <p><strong>Job Status:</strong> Pending</p>
                    <%end%>
                    <div class="text-center">
                        <% if post.file.attached?%>
                            <%=button_to post.file.filename, url_for(post.file), method: :get, class: "btn btn-primary"%>
                        <%end%>
                    </div>
                </div>
                <div class="card-footer text-muted text-center">
                    <small> Created <%= time_ago_in_words(post.created_at)%> ago, Edited <%= time_ago_in_words(post.updated_at)%> ago</small>
                </div>
                </div>
            </div>
        </div>
    </div>
<%end%>
<div class="flickr_pagination d-flex justify-content-center mt-4">
    <%= paginate @my_posts%>
</div>