<h1>Hi</h1>

<ul>
    <li><%=@user.username%></li>
    <li><%=@user.email%></li>
    <li><%=@user.role%></li>
</ul>

<%= link_to "Edit", edit_user_path%>
<%= link_to "Delete User", user_path, data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  }%>
<%=link_to "Users List", users_path%>
<%=link_to "Create a new Job", new_job_path%>
<br>
<%=link_to "List all Sectors", sectors_path%>
<%=link_to "List all Types", types_path%>

<%=link_to "List all Jobs", jobs_path%>

<% if @user.role == nil%>
  <h1>Select a Role</h1>
    <%= form_with(model: @user,class: "shadow p-3 mb-5 bg-info rounded") do |f| %>
      <div class = "form-group row mt-4">
        <%= f.label :role, class: "col-2 col-form-label text-white" %><br/>
        <div class="col-10">
          <%= f.select :role, User.roles.keys %>
        </div>
      </div>
      <div style = "margin-top:15px;">
        <%= f.submit "Choose a Role"%>
      </div>
    <%end%>
<%end%>


