<h1>Hi</h1>

<ul>
    <li><%=@user.username%></li>
    <li><%=@user.email%></li>
    <li><%=@user.role%></li>
</ul>

<%= link_to "Edit", edit_user_path%>
<%= link_to "Delete User", user_path, data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  }%>
<%=link_to "Users List", users_path%>
<%=link_to "Create a new Post", new_post_path%>
<%=link_to "Create a new Job", new_job_path%>
<br>
<%=link_to "List all Posts", posts_path%>
<%=link_to "List all Sectors", sectors_path%>
<%=link_to "List all Types", types_path%>

<%=link_to "List all Jobs", jobs_path%>

