<div class = "text-center">
   
    <h1>Apply for this post</h1>

    <%= form_with model: [@job, @job.posts.build] do |f|%>
        <div>
            <%= f.label :name %>
            <%= f.text_field :name %> 
        </div>
        <br>
        <div>
            <%= f.label :post_description %>
            <%= f.text_area :post_description %>
        </div>
        <br>
        <div>
            <%= f.label :username %>
            <%= f.text_field :username %> 
        </div>
        <br>
        <div>
            <%= f.label :phone_number %>
            <%= f.text_field :phone_number %> 
        </div>
        <br>
        <div>
            <%= f.label :city %>
            <%= f.text_field :city %> 
        </div>
        <br>
        <div>
            <%= f.label :file %>
            <%= f.file_field :file%> 
        </div>
        <br>
        <%= f.submit "Submit", class:"btn btn-primary"%>
    <%end%>
</div>