<div class="container">
    <h1>Listing Posts</h1>


    <% @posts.each do |post|%>
        <h4>Created By <%= link_to post.user.username, user_path(post.user)%></h4>
        <li><%=link_to post.name, post_path(post)%></li>
        <li><%=post.post_description%></li>
        <li><%=post.username%></li>
        <li><%=post.phone_number%></li>
        <li><%=post.city%></li>
        <%if post.file.attached?%>
        <li><%=link_to post.file.filename, url_for(post.file)%></li>
        <%end%>
        <br>
    <%end%>
</div>