<h1>Post Show</h1>

<ul>
    <li><%=@post.name%></li>
    <li><%=@post.post_description%></li>
    <li><%=@post.username%></li>
    <li><%=@post.phone_number%></li>
    <li><%=@post.city%></li>
    <% if @post.file.attached?%>
    <li><%=link_to @post.file.filename, url_for(@post.file)%></li>
    <%end%>
</ul>
<%= button_to "Respond", respond_to_candidate_path%>
<%= link_to "Reject Job Post", job_post_path(@post), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure you want to delete this post?"
                  }%>

