<h1>Greetings from <%=@job.organisation_name%></h1>
<p> To, </p>
<strong><p><%=@post.name%></p>
<p><%=@post.city%></p>
Ph-No.:<%=@post.phone_number%></strong> <br>
<br>
<span>Dear Candidate, </span>
<p>Thank You for taking time to consider <strong><%=@job.organisation_name%></strong>. We regret to inform you that you have not been selected for this role. We hope that you are able to find your interest in another avenue. For more options please contact in our website</p>
<span>Good Luck</span>
<p> Sincerely,</p>
<p><strong><%=@job.organisation_name%> </strong>Team</p>