<h1>Greetings from <%=@job.organisation_name%></h1>
<p> To, </p>
<strong><p><%=@post.name%></p>
<p><%=@post.city%></p>
Ph-No.:<%=@post.phone_number%></strong> <br>
<br>
<span>Dear Candidate, </span>
<p>We are pleased to inform you that you have been selected for this position as <strong><%=@job.title%> </strong>  in our Organisation. We are confident that you will find this opportunity both challenging and rewarding. We will notify you shortly regarding the onboardment process.</p>
<span>We look forward to work with you</span>
<p> Sincerely,</p>
<p><strong><%=@job.organisation_name%> </strong>Team</p>