<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
     <%= link_to "Home", root_path, class: "navbar-brand", id:"logo"%>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
         <% if !logged_in? %>
        <li class="nav-item">
          <%= link_to 'Login', login_path, class:"nav-link"%>
        </li>
        <li class="nav-item">
          <%= link_to 'Signup', signup_path, class:"nav-link"%>
        </li>
        <% else %>
        <li class="nav-item">
          <%= link_to current_user.username, user_path(current_user), class:"nav-link" %>
        </li>
        <%if current_user.is_admin?%>
          <li class="nav-item">
            <%= link_to "Admin Panel", admin_path, class:"nav-link" %>
          </li>
        <%end%>
        <li class="nav-item">
          <%= link_to 'Logout', logout_path, data: {turbo_method: :delete}, class:"nav-link text-danger" %>
        </li>
        <%end%>
      </ul>
      <div class="btn-group" id = "form" >
        <%= form_with(url: jobs_path, method: :get, data: {turbo_frame: "jobs"}, class:"d-flex", id: "form") do |f|%>
          <%= f.text_field :query, class: "form-control me-2", placeholder: "Search Job Details", id: "obj1"%>
          <%= f.submit "Search", class: "btn btn-outline-success"%>
            <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
              <span class="visually-hidden">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu">
              <%= f.text_field :type, class: "form-control me-2", placeholder: "Search Type", id: "obj2", onclick: "swap1()"%>
              <%= f.text_field :sector, class: "form-control me-2", placeholder: "Search Sector", id: "obj3", onclick: "swap2()"%>
            </ul>
        <%end%>
      </div>
    </div>
  </div>
</nav>

<script>
  form = document.getElementById("form")
  obj1 = document.getElementById("obj1")
  obj2 = document.getElementById("obj2")
  obj3 = document.getElementById("obj3")

  function swap1(){
    form.innerHTML = `<%= form_with(url: jobs_path, method: :get, data: {turbo_frame: "jobs"}, class:"d-flex", id: "form") do |f|%>
          <%= f.text_field :type, class: "form-control me-2", placeholder: "Search Type", id: "obj2"%>
          <%= f.submit "Search", class: "btn btn-outline-success"%>
            <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
              <span class="visually-hidden">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu">
              <%= f.text_field :query, class: "form-control me-2", placeholder: "Search Job Details", id: "obj1", onclick: "swap2()"%>
              <%= f.text_field :sector, class: "form-control me-2", placeholder: "Search Sector", id: "obj3", onclick: "swap2()"%>
            </ul>
        <%end%>`;
  }

  function swap2(){
    form.innerHTML = `<%= form_with(url: jobs_path, method: :get, data: {turbo_frame: "jobs"}, class:"d-flex", id: "form") do |f|%>
          <%= f.text_field :sector, class: "form-control me-2", placeholder: "Search Sector", id: "obj3"%>
          <%= f.submit "Search", class: "btn btn-outline-success"%>
            <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
              <span class="visually-hidden">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu">
              <%= f.text_field :query, class: "form-control me-2", placeholder: "Search Job Details", id: "obj1", onclick: "swap3()"%>
               <%= f.text_field :type, class: "form-control me-2", placeholder: "Search Type", id: "obj2", onclick: "swap1()"%>
            </ul>
        <%end%>`;
  }

  function swap3(){
    form.innerHTML = `<%= form_with(url: jobs_path, method: :get, data: {turbo_frame: "jobs"}, class:"d-flex", id: "form") do |f|%>
           <%= f.text_field :query, class: "form-control me-2", placeholder: "Search Job Details", id: "obj1"%>
          <%= f.submit "Search", class: "btn btn-outline-success"%>
            <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
              <span class="visually-hidden">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu">
               <%= f.text_field :type, class: "form-control me-2", placeholder: "Search Type", id: "obj2", onclick: "swap1()"%>
                <%= f.text_field :sector, class: "form-control me-2", placeholder: "Search Sector", id: "obj3", onclick: "swap3()"%>
            </ul>
        <%end%>`;
  }
</script>