<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
     <%= link_to "Home", root_path, class: "navbar-brand", id:"logo"%>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
         <% if !logged_in? %>
        <li class="nav-item">
          <%= link_to 'Login', login_path, class:"nav-link"%>
        </li>
        <li class="nav-item">
          <%= link_to 'Signup', signup_path, class:"nav-link"%>
        </li>
        <% else %>
        <li class="nav-item">
          <%= link_to current_user.username, user_path(current_user), class:"nav-link" %>
        </li>
        <%if current_user.is_admin?%>
          <li class="nav-item">
            <%= link_to "Admin Panel", admin_path, class:"nav-link" %>
          </li>
        <%end%>
        <li class="nav-item">
          <%= link_to 'Logout', logout_path, data: {turbo_method: :delete}, class:"nav-link text-danger" %>
        </li>
        <%end%>
      </ul>
      <%= form_with(url: jobs_path, method: :get, data: {turbo_frame: "jobs"}, class:"d-flex") do |f|%>
        <%= f.text_field :query, class: "form-control me-2", placeholder: "Search"%>
        <%= f.submit "Search", class: "btn btn-outline-success"%>
      <%end%>
    </div>
  </div>
</nav>